*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #2e3335, #595c5e); 
}

.infomation{
    background-color: rgb(35, 37, 44);
    width: 800px;
    padding: 48px 32px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;    
}
.header{
    background-image: url(./component/image.jpg);
    width: 350px;
    height: 400px;
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
    border-radius:15px;  
}

.body{
    padding: 20px;
    flex: 5;
}

.body .info h1{
    margin-bottom: 14px;
}

.body .info h4{
    color: mediumaquamarine;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.body .info .email{
    background-color: antiquewhite;
    color: black;
    padding: 12px;
    border-radius: 10px;
    margin-top: 12px;
}

.decs h1{
    text-align: left;
    margin-top: 12px;
    margin-bottom: 8px;
}

.decs p {
    text-align: justify;
    line-height: 1.2;
}

.footer{
    font-size: 25px;
    display: flex;
    justify-content: right;
    text-align: right;
    flex-direction: column;
    flex:1;
    margin-top: 120px;
}

.footer i{
    margin-top: 30px;
}

.note {
    margin-top: 20px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.7)
}
